---
import { generateSetting } from "../prismic";
import Bounded from "@/components/Bounded.astro";
import Logo from "@/components/Logo.astro";

const { title, navigation } = await generateSetting();
---

<Bounded as="footer">
  <div class="flex sm:flex-row flex-col justify-between items-center gap-6">
    <a href="/"><Logo /></a>
    <p class="text-xs">&copy;{new Date().getFullYear()} {title}</p>
    <div>
      <ul class="flex">
        {
          navigation.length &&
            navigation.map(({ link, label }) => (
              <li>
                <a href={link.url} class="p-3">
                  {label}
                </a>
              </li>
            ))
        }
      </ul>
    </div>
  </div>
</Bounded>
