---
import { generateSetting } from "../prismic";
import Bounded from "@/components/Bounded.astro";
import Logo from "@/components/Logo.astro";
import PrismicLink from "./PrismicLink.astro";
import { navigate } from "astro:transitions/client";

const { title, navigation } = await generateSetting();
---

<Bounded as="header" className="py-4 md:py-6 lg:py-8">
  <div class="flex gap-4 items-center justify-between sm:flex-row flex-col">
    <a href="/"><Logo /></a>
    <nav>
      <ul class="flex">
        {
          navigation.length &&
            navigation.map(({ link, label }) => (
              <li>
                <PrismicLink link={link} className="p-3">
                  {label}
                </PrismicLink>
              </li>
            ))
        }
      </ul>
    </nav>
  </div>
</Bounded>
